/****************************************
     Contains the landing page header  
*****************************************/
.header{
     height: 5rem;
     background-color: $color-primary-light;
     box-shadow: 1px 4px 10px rgba($color-secondary, .4);
     display: flex;
     align-items: center;
     justify-content: space-between;
     position: absolute;
     width: 100%;
     z-index: 9999;
     top: 0;
     &__logo{
          height: 4rem;
          margin-left: 10rem;
     }
     &__button{
          border: none;
          display: inline-block;
          width: 4rem;
          height: 2rem;
          margin-right: 6rem;
          border-radius: 5px;
          cursor: pointer;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          &--top{
               width: 2.8rem;
               height: .3rem;
               background-color: black;
          }
          &--middle{
               width: 2rem;
               height: .3rem;
               background-color: black;
          }
          &--bottom{
               width: 2.8rem;
               height: .3rem;
               background-color: black;
          }
     }
}