/* =======================
    Password Component
=========================*/
.passwordField{
    position: relative;

    &--trans{
        background: none;
        border: none;
        outline: none;
        width: 28rem;
        transform: translateX(.5rem);
        
        &::placeholder{
            color: lighten($color-secondary-light, 15%);
        }
        

        // before underline
        & + span::before{
            content: "";
            display: block;
            width: 27rem;
            height: 1px;
            margin-top: .2rem;
            background-color: $color-secondary-dark;
            margin-bottom: 5rem;
        }
    }

   &__info{

   }
}