/******************************
    Global styles and resets
 *****************************/


*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    box-sizing: border-box;
    background-color: $color-primary;
}

::selection{
    background-color: rgba($color-primary, .8);
    color: $color-white;
}