/******************************
    Variables
******************************/

// COLORS
$color-primary: #efefef;
$color-primary-light: #fbfbfb;
$color-primary-dark: #cfcfcf;


$color-secondary: #212529;
$color-secondary-light: #33383f;
$color-secondary-dark: #131518;

$color-tertiary-light: #fff;
$color-tertiary-dark: #fff;

$color-white: #fff;
$color-black: #000;

$color-extras-very-dark: #262626;
$color-extras-light-dark: #3f3f3f;
$color-extras-normal: #dcdcdc;
$color-extras-light: #f5f5f5;

// FONT
$default-font-size: 1.6rem;