/******************************
    Variables
******************************/

// COLORS
$color-primary: #fff;
$color-primary-light: #fff;
$color-primary-dark: #fff;

$color-secondary-light: #fff;
$color-secondary-dark: #fff;

$color-tertiary-light: #fff;
$color-tertiary-dark: #fff;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-white: #fff;
$color-black: #000;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

// FONT
$default-font-size: 1.6rem;